// Grid system
.main {
	@include make-sm-column($main-sm-columns - $sidebar-sm-columns);
	min-height: 100vh;

	// clear the fixed footer
	// @TODO MQs. 47px is the default for two lines but as the screen shrinks...
	padding-bottom: 87px;

	&::before {
		@include sidebar-column;
		width: 33%;
		left: -33%;
	}


	.has-sidebar & {
		padding: 0;
		padding-bottom: 300px;

		// Right sidebar
		&::after{
			@include sidebar-column;
		}
		&::before {
			/*background-color: $greyDark;*/
		}
		&::after {
			background-color: $greyLighter;
			left: 75%;
			left: $main-sm-columns - $sidebar-sm-columns;
		}
		.main-content {
			@include make-sm-column(9);
		}
	}
}



.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}
.main-content {
	/*@include make-sm-column(12);*/
	padding: 0 $innerContentPadding 150px $innerContentPadding;
}
.inner-sidebar {
	@include make-sm-column(3);
	/*right: -15px;*/
}



