// Grid system
.main {
	@include make-sm-column($main-sm-columns - $sidebar-sm-columns);
	min-height: 100vh;

	// clear the fixed footer
	padding-bottom: 87px;

	.has-sidebar & {
		padding: 0;

		.main-content {
			@include make-sm-column(9);
		}
	}
	//.sidebar-visible added when the sidebar js has finished
	.has-sidebar.sidebar-visible & {
		padding-bottom: 300px;
	}

}

// Faux columns
// Nested BS columns complicates this some so doing a few resets here:
$colWidth: 100/12;
$mainWidth: 10 * $colWidth;
$leftSidebarWidth: 2 * $colWidth;
$innerSidebarWidth: $mainWidth * 0.75;
$innserSidebarBgOffset: $innerSidebarWidth + $leftSidebarWidth;



body {
    position: relative;

    //match slicknav MQ in sidebar.scss
    @media screen and (min-width: 769px) {
        &::before {
            @include sidebar-column;
            width: percentage((2/$grid-columns));

        }
    }

    @media screen and (min-width: 600px) {

      &.has-sidebar {
          &::after{
              @include sidebar-column;
          }
          &::after {
              background-color: $greyLighter;
              left: 75%;
              width: 25%;
          }
      }
    }

    @media screen and (min-width: 769px) {

      &.has-sidebar {
          &::after{
          }
          &::after {
              background-color: $greyLighter;
              left: $innserSidebarBgOffset+%;
              width: 100 - $innserSidebarBgOffset+%;
          }
      }
    }

}

.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}
.main-content {
	/*@include make-sm-column(12);*/
	padding: 0 $innerContentPadding 150px $innerContentPadding;
}
.inner-sidebar {
	@include make-sm-column(3);
	/*right: -15px;*/
}



