// Grid system
.main {
	@include make-sm-column($main-sm-columns - $sidebar-sm-columns);
	min-height: 100vh;

	// clear fixed header
	padding-top: 63px;

	// clear the fixed footer
	padding-bottom: 87px;

	.has-sidebar & {
		padding: 63px 0 0;

		.main-content {
			@include make-sm-column(9);
		}
	}
	//.sidebar-visible added when the sidebar js has finished
	.has-sidebar.sidebar-visible & {
		padding-bottom: 300px;
	}

}

/*
 *
 * Faux columns
 * Uses :before and :after on the body
 *
 * Nested BS columns complicates this some.
 * [2+10] == cols for left nav and right area
 * Right area is further split:
 * [9+3] == cols for main-content and right (inner) sidebar
 * Right sidebar faux column == 25% of the 10 in [2+10]
 *
 */
$colWidth: 100/$grid-columns;
$mainWidth: 10 * $colWidth;
$leftSidebarWidth: 2 * $colWidth;
$innerSidebarWidth: $mainWidth * 0.75;
$innserSidebarBgOffset: $innerSidebarWidth + $leftSidebarWidth;
body:not(#tinymce) {
    position: relative;

    //match slicknav MQ in sidebar.scss
    @media screen and (min-width: 769px) {
        &::before {
            @include sidebar-column;
            width: percentage((2/$grid-columns));
        }
    }

    // no left sidebar in sidebar.css
    @media screen and (min-width: 769px) {

      &.has-sidebar {
          &::after{
              @include sidebar-column;
          }
          &::after {
              background-color: $greyLighter;
              left: 75%;
              width: 25%;
          }
          &.map-visible {
            &::after {
              content: none;
            }
          }
      }
    }

    @media screen and (min-width: 769px) {

      &.has-sidebar {
          &::after{
          }
          &::after {
              background-color: $greyLighter;
              left: $innserSidebarBgOffset+%;
              width: 100 - $innserSidebarBgOffset+%;
          }
      }
    }

}

.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}
.main-content {
	/*@include make-sm-column(12);*/
	padding: 0 $innerContentPadding 150px $innerContentPadding;
}
.inner-sidebar {
	@include make-sm-column(3);
	/*right: -15px;*/
}
