.species-hero {
	position: relative;
	width: 492px;
	figcaption {
		background-color: rgba(0,0,0,0.7);
		bottom: 0;
		color: #fff;
		font-size: 12px;
		left: 0;
		padding: 10px 20px;
		position: absolute;
		width: 100%;
	}

}

.compass.main {
	display: none;

	> .compass-frame {
		position: relative;
	}
}

.compass-wrap {
    position: relative;
    padding-bottom: 56.25%; //16*9
    padding-bottom: 75%; //4*3
    /*padding-top: 35px; //for any chrome*/
    height: 0;
    overflow: hidden;

	> iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.compass-close {
	position: absolute;
	top: 20px;
	right: 15px;
	cursor: pointer;
	z-index: 1000;

	> .glyphicon-remove-sign {
		font-size: 2.25em;
		color: $grey;

		&:hover {
			color: $greyDark;
		}
	}
}

.view-compass {
	position: absolute;
	bottom: 300px;
	right: 15px;
	border: 1.5px solid $brand-primary;
	font-family: $headings-font-family-lighter;
	font-size: 18px;
	background-color: $off-white;
	padding: 6px;
	z-index: 1000;

	&:hover {
		background-color: $greyLighter;
	}


	.glyphicon {
		color: $link-color;
	}

	a {
		color: $greyDark;
		text-decoration: none;
	}
}

// not used yet
.photo-info {
	background: transparent url('../img/sprite-icons.png') -100px -144px no-repeat;
	/*background: transparent url(../img/info.png) left top no-repeat;*/
	cursor: pointer;
	height: 40px;
	overflow: hidden;
	position: absolute;
	bottom: 10px;
	right: 10px;
	/*.transition( ~" all 0.3s ease-in-out");*/
	width: 40px;
	z-index: 1000;

	@include breakpoint(sm) {
		bottom: 30px;
		left: 40px;
	  }
	> .caption-content {
		background: transparent;
		background-color: rgba(255, 255, 255, 0.6);
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-family: $font-family-base;
		font-size: 0.8em;
		height: 38px;
		line-height: 1.1em;
		margin-left: 40px;
		margin-top: 1px;
		padding: 5px;
		width: 180px;
		zoom: 1;
	}
	&:hover {
	  width: 55px;
	}
	&.visible, &:focus {
	  width: 220px;
	}
}
