

.species-hero,
.feature-thumb,
.wp-caption {
	padding: 25px 0 0 0;
	position: relative;
	figcaption {
		background-color: rgba(0,0,0,0.7);
		bottom: 0;
		color: #fff;
		font-size: 12px;
		left: 0;
		padding: 10px 33px;
		position: absolute;
		width: 100%;
		display: none;
	}
}

figure.wp-caption {
	border:  none;
	> a  { color: #000  }
}
.species-hero,
.feature-thumb {
	width: 492px;
}

.species-hero.close-caption,
.feature-thumb.close-caption,
.wp-caption.close-caption {
	figcaption {
		display: block;
		.glyphicon {
			color: #FFF;
			text-shadow: none;
			bottom: 30%;
		}
	}
	.show-info { display: none; }
}

.species-hero {
	.image-container {
		img { width: 100% }
	}
}


.ecoregion-svg {
	position: relative;
	height: 100%;
	width: 100%;

	> img, svg, .eco-container {
		display: block;
		max-width: 98%;
		max-height: 98%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	svg { opacity: 0;}

	> .popover > .arrow { display: none;}

	.eco-container { pointer-events: none; }
}

.image-container, figure {
	max-width: 100%;
	position: relative;

	> img {
		height: auto;
		max-width: 100%;
		display: block;
	}
}

.photo-info {
	position: absolute;
	cursor: pointer;

	&.glyphicon {
		bottom: 11px;
		left: 10px;
		top: auto;
		font-size: 1.25em;
		text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;

		&:hover { font-size: 1.4em; };
	}


/*	@include breakpoint(sm) {
		bottom: 30px;
		left: 40px;
	  }*/
	> .caption-content {
		background: transparent;
		background-color: rgba(255, 255, 255, 0.6);
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-family: $font-family-base;
		font-size: 0.8em;
		height: 38px;
		line-height: 1.1em;
		margin-left: 40px;
		margin-top: 1px;
		padding: 5px;
		width: 180px;
		zoom: 1;
	}
	&:hover {
	  width: 55px;
	}
	&.visible, &:focus {
	  width: 220px;
	}
}

.success-story-content img, .link-box img {
	max-width: 100%;
}

span.attr-name > a { color: $greenMid; }

@media screen and (max-width: 1120px) {
	body.page-id-109,
	body.page-id-112 {
		article.col-sm-6.col-md-4 { width: 50%;}
	}
}
