body.home.page {
  main.main {
    height: 90vh;
    padding: 0px;
    min-height: 1px;
  }
}

.carousel.slide {
  padding: 15px;
  height: calc(95vh - 150px);


  &:hover {
    a.control_prev, a.control_next {
      position: absolute;
      top: 42%;
      z-index: 999;
      display: block;
      padding: 1% 1%;
      width: auto;
      height: auto;
      background: $greyDark;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      opacity: 0.2;
      cursor: pointer;
    }
  }
}

.carousel-wrapper {
  position: absolute;
  left: 12%;
  right: 12%;  
  top: 50%;  
  transform:translateY(-50%);
}

.carousel-inner {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  /*  oregon state mask*/
  img.carousel-overlay { 
    width: 100%; 
    height: auto;
    max-width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 101;
    pointer-events: none;
  }
  
  /* image slide*/
  .item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 1px;
    bottom: 1px;
    z-index: 100;

    a > img {
      display: block;
      max-width: 100%;
      width: 100%;
      max-height: 98%;
      height: 98%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

ol.carousel-indicators {
  padding: 15px 0 15px 0;
  bottom: auto !important;
  z-index: 0;

  li, li.active {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border-color: $greenDark;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
    cursor: pointer;
  }

  li {
    background-color: $greenLight;

    &:hover {
      height: 15px;
      width: 15px;
    };
  }

  li.active { background-color: $greenDark; }
}

.carousel-caption {
  left: 30%;
  right: 30%;
  padding-bottom: 5px;
  font-family: $headings-font-family;

  .carousel-headline {
    bottom: 35%;
    color: $off-white;
    font-size: 36px;
    text-transform: uppercase;
    text-shadow: rgb(3, 3, 3) 4px 4px 4px;
  }

  .carousel-subtext {
    font-size: 20px;
    bottom: 25%;
    color: $off-white;
    text-shadow: rgb(3, 3, 3) 4px 4px 4px; 
  }

}

a.control_prev, a.control_next {
  display: none;
  &:hover { opacity: 1 !important };
}

a.control_next {
  right: 5px;
  border-radius: 2px 0 0 2px;
}

a.control_prev {
  left: 5px;
  border-radius: 0 2px 2px 0;
}

.single-item { display: none !important;}

@media screen and (min-width: 976px) and (max-width: 1125px) {
  .carousel-caption {
    .carousel-headline { font-size: 2.25vw }
    .carousel-subtext { font-size: 1.75vw }
  }
}

@media screen and (max-width: 975px) {
  .carousel-caption {
    .carousel-headline { font-size: 2vw }
    .carousel-subtext { font-size: 1.5vw }
  }
}

@media screen and (max-width: 600px) {
  body.home.page { 
    .content.row { padding-top: 0; }
  }
}
