.carousel.slide {
  padding: 15px;
  height: auto;

  &:hover {
    a.control_prev, a.control_next {
      position: absolute;
      top: 42%;
      z-index: 999;
      display: block;
      padding: 1% 1%;
      width: auto;
      height: auto;
      background: $greyDark;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      opacity: 0.2;
      cursor: pointer;
    }
  }
}

.carousel-inner {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /*  oregon state mask*/
  img.carousel-overlay { 
    width: 100%; 
    height: auto;
    max-width: 100%;
    background-color: transparent;
  }
  
  /* image slide*/
  .item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;

    > img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: 100%;
      line-height: 1;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

ol.carousel-indicators {
  padding: 15px 0 15px 0;
  bottom: auto !important;
  z-index: 0;

  li, li.active {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border-color: $greenDark;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
    cursor: pointer;
  }

  li {
    background-color: $greenLight;

    &:hover {
      height: 15px;
      width: 15px;
    };
  }

  li.active { background-color: $greenDark; }
}

.carousel-caption {
  left: 30%;
  right: 30%;
  padding-bottom: 5px;

  .carousel-headline {
    bottom: 35%;
    color: $off-white;
    font-family: $headings-font-family;
    font-size: 36px;
    text-transform: uppercase;
  }

  .carousel-subtext {
    font-size: 20px;
    bottom: 25%;
    color: $greyLighter;
  }

}

a.control_prev, a.control_next {
  display: none;
  &:hover { opacity: 1 !important };
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

.single-item { display: none !important;}

@media screen and (max-width: 1000px) {
  .carousel-caption {
    .carousel-headline { font-size: 2vw }
    .carousel-subtext { font-size: 1.5vw }
  }
}
