/local-config.php
/sql-dump-*.sql
sitemap.xml
sitemap.xml.gz
node_modules
data/local



.DS_Store
*[Tt]humbs.db
*.Trashes
*.log

app/uploads/
app/blogs.dir/
app/upgrade/
app/backup-db/
app/advanced-cache.php
app/wp-cache-config.php
app/cache/
app/backups/
app/updraft


