
body {
	// space for the fixed header
	padding-top: 62px;


}

// make the bs .table styles the default for all tables
table {
	@extend .table;
	@extend .table-striped;
	@extend .table-bordered;
	margin-top: 15px;
	margin-bottom: 15px;

	> thead > th {
		background-color: $grey;
		color: #ffffff;
	}
}
