// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    2;

// Colors
$text-color:			#111111;
$brand-primary:         #27ae60;
$off-white:             #f1f1f2;
$grey:					#58595B;
$gray:					$grey;
$greyLighter:           #E6E7E8;
$greyLight:				mix($greyLighter, $grey);
$greyDark:				#414041;
$grayDark:				$greyDark;
$green:					#005130;
$greenLighter:			#EFF7ED;
$greenLight:			#D3E9D1;
$greenMid:              #7FA797;
$greenDark:				#00371a;
$link-color:            $green;
$link-hover-color:      darken($link-color, 15%);


$font-family-sans-serif:	"HelveticaNeue-45Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:			$font-family-sans-serif !default;
$body-font:					$font-family-sans-serif;
$body-font-italic:			"HelveticaNeue-46Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-bold:			"HelveticaNeue-65Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-bolder:			"HelveticaNeue-75Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-family:			"TradeGothicBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family-lighter:	  "TradeGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:        12px; // 12px in comps but wrong font
$line-height-base:      1.5333; // 20/14
$line-height-px:		20px; // 20/14
$headings-color:		$greyDark;

$font-size-h1:            floor(($font-size-base * 2  )) !default; // ~24px
$font-size-h2:            floor(($font-size-base * 1.5)) !default; // ~18px
$font-size-h3:            ceil(($font-size-base * 1.17)) !default; // ~14px
$font-size-h4:            $font-size-base !default; // ~13px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

// SPACING
$basePadding:          14px;
$sidebarPadding:       $basePadding;
$innerContentPadding:  $basePadding * 2;


// FORMS
$input-color:			$greyDark;

// TABLES
$table-bg-accent:               $off-white;
$table-border-color:            #77787B;
$table-cell-padding:            12px;

// OTHER BITZ
$nav-sprite: "../images/icons-nav@2x.png";


// Leave tablets alone.
$screen-sm:                  560px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;
