// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    2;

// Colors
$text-color:			#111111;
$brand-primary:         #27ae60;
$greyLight:				lighten(#58594B, 10%);
$grey:					#58595B;
$gray:					$grey;
$greyDark:				#404041;
$grayDark:				$greyDark;
$green:					#005130;
$greenLight:			#D3E9D1;
$greenDark:				#00371a;
$link-color:            $green;
$link-hover-color:      darken($link-color, 15%);


$font-family-sans-serif:	"HelveticaNeue-45Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:			$font-family-sans-serif !default;
$body-font:					$font-family-sans-serif;
$body-font-italic:			"HelveticaNeue-46Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-bold:			"HelveticaNeue-65Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-bolder:			"HelveticaNeue-75Lt", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-family:			"TradeGothicBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family-lighter:	  "TradeGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:        13px; // 12px in comps but wrong font
$line-height-base:      1.5333; // 20/14
$headings-color:		$greyDark;

$font-size-h1:            floor(($font-size-base * 2.4)) !default; // ~18px
$font-size-h2:            floor(($font-size-base * 1.4)) !default; // ~18px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

// FORMS
$input-color:			$greyDark;


// Leave tablets alone.
$screen-sm:                  560px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;
