.main-content {
	p, caption {
		font-weight: 300;
		//quick fix. @TODO set with bootstrap vars/computation
		margin-top: $line-height-px;
		margin-bottom: 0;
	}
	p, caption, dt, dd {
		max-width: $char-length;
	}
	h2, h3, h4, h5, h6 {
		max-width: $char-length - 3;
	}
	li {
		margin-top: 0;
		margin-bottom: $line-height-px/2;
		max-width: $char-length - 5; //make up for left margin a bit
	}
	a {
		font-family: $body-font-bold;
		font-weight: 600;
	}
    h2, h3, h4, h5,
    h6, p, ul, .tooltip {
        + ul {
            margin-top: $line-height-px/2;
        }
    }
    ul ul {
        margin-top: $line-height-px/2;
    }

	ul+p {
		margin-top: $line-height-px/2;
	}
    // Oh, WordPress
	p:empty {
		display: none;
	}
}

.page-header {
	margin: 0;
	padding-bottom: 0;
}
h1, h2 {
	text-transform: uppercase;
}
h1 {

	@include h1Styles;

	.main-content & {
		height: auto;
		margin: 25px 0 0 0 ;
		line-height: 1;
	}
	+small {
		font-family: $body-font-italic;
		font-size: 14px;
		text-transform: uppercase;
		display: block;
		margin-bottom: 24px;
	}
    &.search-results-header {
		font-family: $headings-font-family-lighter;
        font-size: 14px;
        margin-bottom: $line-height-px;
		margin-left: $line-height-px/2;
		text-transform: none;
    }
	.no-fouc {
		visibility: hidden;
	}
}
h2, h3, h4, h5 {
	line-height: 1.25;
	margin-top: 1.9em;
}
h2 {
	font-size: $font-size-h2;
}
h3, h4, h5 {
	font-family: $body-font-bolder;
	font-size: $font-size-h3;
	letter-spacing: -0.02em;
	font-weight: 700;
	/* off while testing COA layouts */
    /*margin-bottom: $line-height-px;*/
    /*margin-top: $line-height-px * 2;*/
}
h4, h5 {
	color: #222;
	font-size: $font-size-h4;
    margin-bottom: 2px;
    margin-top: $line-height-px;
}
section h4 {
	margin-bottom: 0;
    margin-top: $line-height-px;
}
.main-content h5 + p, .factors_repeat_group h4 + p {
	margin-top: 0;
}

.main-content h5 { margin-bottom: 3px; }

h2 > strong, h3 > strong, h4 > strong {
	// just in case bold gets left in.
	font-weight: inherit;
}
p, li, dt, td {
	> strong, b {
		font-family: $body-font-bolder;
	}
}
.citation-list {
    > br {
        display: none;
    }
    li {
        margin-top: 5px;
    }
}
dt {
	font-family: $body-font-bolder;
}
dd {
  margin-bottom: 1em;
}

// Specialized and Local Habitats
.page-id-108 {
    h3 {
      border-bottom: 1px solid #ccc;
      font-size: $font-size-h2;
      margin-bottom: 10px;
	  margin-top: 0;
	  padding-bottom: 4px;
	  // deal with the top bar when #linking
	  padding-top: 70px;
      text-transform: uppercase;
    }

    dl {
      @extend .dl-horizontal;
    }

}

// species 'family' pages should not have featured images
// however they can't be excluded completely as the main
// strategy-species page uses them 
.page-id-116,
.page-id-115,
.page-id-114,
.page-id-112,
.page-id-110,
.page-id-111,
.page-id-109 {
    .hentry > figure.feature-thumb { display: none; }
}


abbr[title], acronym[title] {
	border-bottom: 1px dotted $grey;
	cursor: help;
    text-decoration: none;
}
// When h2s have tooltips it shows up far from the text because it
// presumes them to be inline. Bootstrap positioning does not really help.
h2.on-hold + .tooltip {
	left: 10px !important;
	margin-left: 50px;

	/* they are long */
	.tooltip-inner {
		max-width: 70%;
		text-align: left;
	}
	.tooltip-arrow {
		left: 25px !important;
	}
}

h2[data-toggle=tooltip], .coa_meta_special_features h3 {
	cursor: help;
	display: inline-block;
	width: auto;
	@include clearfix;
}
// These are wordy. A little wider and left aligned.
.single-strategy_species h2+.tooltip .tooltip-inner ,
.single-coa h2+.tooltip .tooltip-inner {
	max-width: $tooltip-max-width * 2;
	text-align: left;
	padding: 8px 12px;
}

.species-association {
    color: $grey;
    font-size: 10px;
}

h3>.badge { margin-left: 3px; }

.long-list, .long-list ul, .long-list ol {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;

    //webkit eats the second column's bullets
    padding-left: 2em;
    list-style-position: inside;
}
