.draft-message {
	background-color: $greyDark;
	bottom: 0;
	color: #fff;
	margin-left: -15px;
	margin-right: 15px;
	padding: 10px;
	padding-left: 15%;
	position: fixed;
	width: 100%;

	strong {
		background-color: $greenLight;
		color: $text-color;
		padding: 1px 3px;
	}
	small {
		font-size: 10px;
	}
}
