.draft-message {
	background-color: $greenLighter;
	border-top: 1px solid #C1E1BE;
	bottom: 0;
	color: $text-color;
	font-family: $body-font-bolder;
	font-size: 11px;
	margin-left: -15px;
	margin-right: 15px;
	padding: 10px;
	/*padding-left: 15%;*/
	position: fixed;
	width: 100%;


	strong {
		background-color: $green;
		color: #fff;
        font-weight: normal;
        letter-spacing: 0.07em;
		padding: 1px 3px;
	}
	small {
		font-size: 10px;
	}
}
