::-webkit-input-placeholder {
   color: $greyDark;
}
::-moz-placeholder {
   color: $greyDark;
   opacity: 1; //oh, ff. Bugzilla 556145
}
:-ms-input-placeholder {
   color: $greyDark;
}
body.home, body.error404 {
  ::-webkit-input-placeholder {
     color: $greyDark;
     font-family: $headings-font-family-lighter;
  }
  ::-moz-placeholder {
     color: $greyDark;
     font-family: $headings-font-family-lighter;
  }
  :-ms-input-placeholder {
     color: $greyDark;
     font-family: $headings-font-family-lighter;
  }
}

#header {
	background-color: $greenLight;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1040;

    .admin-bar & {
      padding-top: 31px;
    }

	.brand {
		background-color: $green;
		display: inline-block;
		color: #fff;
		font-family: $headings-font-family;
		font-size: 33px;
		letter-spacing: 0.08em;
		line-height: 63px;
		text-align: center;
		text-transform: uppercase;
		//width: 16.6667%;
		@include make-sm-column($sidebar-sm-columns);

		&:hover, &:focus {
			background-color: $greenDark;
			color: $greenLight;
			text-decoration: none;
		}
	}

	.header-inner {
		@include make-sm-column($main-sm-columns - $sidebar-sm-columns);
        padding-left: 0;
        padding-right: 0;
        display: flex;
        align-items: center;
	}

	.search-wrap {
		border-bottom: 1px solid $greenMid;
        flex: 1;

		form, input {
			display: flex;
            width: 100%;
		}
		input, #length-test {
			@include h1Styles;
			background-color: $greenLight;
			border: 0 none;
			outline: none;
			padding: 1px 10px;
			text-transform: uppercase;
            padding: 1px 15px;
			/*
			&.focused {
				font-family: $headings-font-family;
			}
			*/
		}
        // used to measure the length of the text in the search box
        #length-test {
          position: absolute;
          height: auto;
          left: -9999em;
          width: auto;
          white-space: nowrap;
        }

		button {
			@include top-button;
			background: $greenLight url($nav-sprite) 100% -806px no-repeat;
            /*display: inline-block;*/
			display: block;
            margin: 0;
			/*padding: 0 15px;*/
            padding: 0;
			text-indent: -999em;
            width: auto !important; //override mixin
            flex: 0 0 62px;

			&:hover {
				background-color: darken($greenLight, 5);
                background-position: 0 -806px;
			}

            @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi){
                background-image: url($nav-sprite-2x);
                background-size: 200%;
            }

		}
	}
	&.mobile { display: none; }
}


.view-switcher {
	background-color: $greenLighter;
	padding: 0;

	a {
		@include top-button;
        display: none; // default
		text-indent: -999em;

        background-image: url($nav-sprite);
        background-repeat: no-repeat;

        @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi){
            background-image: url($nav-sprite-2x);
            background-size: 200%;
        }

		&:focus { outline: none;}

		&.view-map,
		&.view-grid,
		&.view-list {
			background-color: $greenLighter;
		}

		&.view-map {
			background-position: 100% -621px;

			&:hover,
			&:active {
				background-position: 0px -621px;
			}
		}

		&.view-grid {
			background-position: 100% -680px;

			&:hover,
			.grid-layout &,
			&:active {
				background-position: 0px -680px;
			}
		}

		&.view-list {
			background-position: 100% -742px;

			&:hover,
			.list-layout &,
			&:active {
				background-position: 0px -742px;
			}
		}

		&.my-ocs {

            background-color: $green;
            display: inline-block;
            position: relative;
			width: 66px;
            line-height: 63px;

            &:after {
                background-image: url('../images/ODFW_info_icon_smaller.png');
                content: "";
                opacity: 1;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: 0;
            }
		}
	}
}

body.map-visible {
	.view-map {
        background-position: 0px -621px;
	}
}

.grid-available .view-switcher .view-grid,
.list-available .view-switcher .view-list {
    display: inline-block;
}
//.grid-available, .list-available {
    //.view-switcher li {
		//width: 25%;
    //}
    //.search-wrap { @include make-sm-column(9); }
    //.view-switcher { @include make-sm-column(3); }
    //.search-wrap, .view-switcher {
        //padding-left: 0;
        //padding-right: 0;
    //}
//}

.page-header {
	border-bottom: 0;
	h1 { display: inline; }
}

#skip-to-content:focus {
    background-color: #fbfbfb;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #0073aa;
    display: block;
    font-size: 15px;
    height: auto;
    left: 10px;
    line-height: normal;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 10px;
    width: 15em;
    z-index: 100000;
}

/*min-width query is tied to .sidebars*/
@media only screen and (max-width: 1050px) {
	#header {
		a.brand { font-size: 3vw;}
		input#search-field { font-size: 2.75vw; }
	}
}

/*
wordpress admin toolbar switches to mobile @ 782px
and is apparently not fixed(?) @ 600px
*/
@media only screen and (min-width: 601px) and (max-width: 782px) {
	.admin-bar #header { top: 14px; }
}

/*search-box.js has a height constraint at 767px*/
@media only screen and (max-width: 767px) {
	#header {
		input#search-field { font-size: 3vw; }
	}
}

/*figured to just remove wordpress admin toolbar at this point*/
@media only screen and (max-width: 600px) {
	#wpadminbar { display: none; }

	.admin-bar #header { padding-top: 0; }

	#header {
		a.brand {
			font-size: 6vw;
			width: 100%;
		}

		.header-inner {
			margin-left: 0;
			width: 100%;

		}
	}

	footer.content-info {
		.draft-message { min-height: 40px; }
	}
}

@media only screen and (max-width: 600px) and (max-height: 625px) {
	header#header {
		.header-inner.view-switcher { display: none;}
	}
}

@media only screen and (max-width: 600px) and (max-height: 500px) {
    header#header  {
        .row { display: none;}
    }
}
