// Temporary Grid
.ocs-strategy-species, .ecoregions, .parent-pageid-109 {
// pageid-109 = strategy species parent
	.listings-wrap > article > div,
	.listings-wrap > section > article { //not all are this way yet but orta be.
		float: left;
		margin: 0 0 15px 0;
		min-height: 225px;
		max-width: 325px;

/*		&:nth-child(3n+1){
			clear: both;
		}*/
		&:hover {
		}

		a {
			color: $text-color;
			display: block;
			padding: 10px;
			&:hover {
				background-color: #eee;
				text-decoration: none;
			}
		}
	}
}

.ecoregions {
	.listings-wrap > article > div { height: 390px;}
	img#region-png-print { display: none; }
}

body.page-id-109,
body.page-id-112,
body.ecoregions {
	.listings-wrap { padding-top: 25px; }
}

// Temporary. No style guide yet.
.success-story {
    background: #eeeeee;
    border: 1px solid #dddddd;
	clear: both;
    padding: 5px 22px 22px;
}

.coa-id {
	margin-top: $line-height-px;
	.btn { cursor: default; }
	span {
		font-family: $font-family-sans-serif;
		font-weight: normal;
	}
}

