// Temporary Grid

.listings-wrap {

	@include clearfix;

	.grid-item {
		display: inline-block;
		/*min-height: 200px;*/
		max-width: 325px; //?
		position: relative;
		vertical-align: top;
		width: 33%;

		img {
			width: 100%;
			height: auto;
		}
		.cpt-title {
			font-family: $body-font-bolder;
			font-weight: 900;
			letter-spacing: 0;
			margin: 16px 0 11px 0;
			& + p {
				margin-top: 0;
				overflow: hidden;
				font-family: $body-font-bold;
				font-weight: 400;
			}
		}
		p {
			max-width: 100%;
		}
		// BS MEDIA ELEMENT?

	}

	a {
		color: $text-color;
		display: block;
		font-family: $font-family-sans-serif;
		padding: $basePadding;
		&:hover {
			background-color: #eee;
			text-decoration: none;
		}
	}

	.grid-layout & {
		.grid-item {
			float: left;
			margin: 0 0 15px 0;
			/*min-height: 225px;*/

			.cpt-title { margin-bottom: 0; }
			p { display: none; }
		}

		.grid-item:nth-child(3n+1){
			clear: both;
		}
	}

	.list-layout &, .search-results & {
		.grid-item {
			/*margin-bottom: $basePadding / 2;*/
			max-width: none;
			width: 100%;

			a {
				overflow: hidden;
			}

			.image-grid-container {
				float: left;
				margin-right: 10px;
				width: 60px;
			}
			.cpt-title {
				margin-bottom: 5px;
				margin-top: 0;
			}

		}
        .image-grid-container > img {
          height: auto;
        }

	}
    // little bigger for search results:
    .search-results & .grid-item .image-grid-container {
        width: 100px;
    }
}


.ecoregions {
	.listings-wrap > article > div { height: 390px;}
	img#region-png-print { display: none; }
}

body.page-id-109,
body.page-id-112,
body.ecoregions {
	.listings-wrap { padding-top: 25px; }
}

body.page-id-102.map-visible {
	section.post-102 { display: none;}
}
body.single-ecoregion {
	.grid-layout {
		.grid-item {
			p { display: block; }
		}
	}
	&.list-layout {
		.listings-wrap {
			.grid-item {
				.image-grid-container { display: none; }
			}
		}
	}
}

.success-story {
    background: #fbfbfb;
    border-top: 4px solid $green;
    border-bottom: 4px solid $green;
	clear: both;
	margin: 2em 0;
    padding: 5px 50px 22px 50px;
}
.success-story-content {

}
.link-box {
    background: #fbfbfb;
	border-left: 4px solid $green;
	margin: $line-height-px;
	margin-left: 50px;
	padding: $line-height-px/2;
	padding-left: 30px;

	> .scroll-nav__section:first-child h2,
	> h3:first-child,
	// in case WP inserts an empty p at the start
	> p:first-child + .scroll-nav__section > h2,
	> p:first-child + h3,
	{
		margin-top: 0;
	}
}

.coa-id {
	margin-top: $line-height-px;
	.btn { cursor: default; }
	span {
		font-family: $font-family-sans-serif;
		font-weight: normal;
	}
}


.species-overview {
	strong {
		display: block;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		max-width: 492px;
	}
	li {
		padding: 0 20px 0 0;
		width: 50%;
	}

}
// Quick "remove list view from strategy species"
.parent-pageid-109, .page-id-109 {
    .header-inner {
        // Defaults to grid so no need for the grid toggle
        .view-grid, .view-list {
            display: none;
        }
    }
}
.single-strategy_species .grid-item p {
	display: none;
}

/* Read more for CPT landing pages */
.inline-read-more {
	border: 0 none;
	background-color: rgba(239, 247, 237, 0.48);
	border-left: 4px solid $green;
	clear: both;
	font-family: $body-font-bold;
	font-weight: 600;
	display: inline-block;
	margin: 15px 0;
	padding: 6px 15px;
	text-transform: uppercase;
	transition: all 0.3s ease;

	&:hover {
		background-color: $greenLighter;
		border-left: 6px solid #000;
		color: #000;
	}
}

.read-more-wrap {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.9s ease-in-out, opacity 1s ease-in-out;
	/*transition: all 1s cubic-bezier(.68,-0.55,.27,1.55);*/
	/*transition: height 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s, opacity 1s ease 0s;*/

	&.visible {
		max-height: 3000px;
		opacity: 1;
		overflow: visible;
	}
}

.hentry.has-read-more {
	.entry-content > section.listings-wrap { border-top: 1px solid $greyLight };
}

/**
* Search Results
*/
.search-results #mainContent {
	padding: 0;
}
.search-results-wrap {
	counter-reset: results-counter;

	.result-crumb {
		color: #aaa;
		clear: both;
		font-family: $body-font-italic;
		font-size: 11px;
		font-weight: 400;
		padding-top: 4px;

		span {
			text-transform: uppercase;
			font-family: $body-font;
		}
	}
	h2.search-section-label {
		@extend %search-section-label;
		text-transform: unset;
		border-bottom: 2px solid $green;
		font-size: 24px;
		letter-spacing: 0px;
		max-width: 100%;
	}

	/*> article, div > article {*/
	.grid-item {
		margin-bottom: $line-height-px;
		position: relative;



		&:hover {
			.search-hits-info {
				/*display: block;*/
			}
		}

		h2, h3, p {
			margin-top: 0;
		}


		a {
			padding: $line-height-px/2;
			padding-left: 43px; // (9+25+9)
			position: relative;
		    transition: background-color 0.3s ease;


			&::after {
				content: counter(results-counter);
				counter-increment: results-counter;
				@extend %count-indicator;
				@extend %search-count-indicator;
			}

			&:hover {
				background-color: $greenLighter;

				.relevanssi-query-term, mark {
					background-color: $greenLight;
				}
			}
		}
	}


	.in-title-section {
		counter-reset: results-counter;
		// output a label for each post type
		// $postTypes is defined in /common/_osc_variables.scss
		@each $postType, $label in $postTypes {
			.type-#{$postType} h3 {
				@include type-identify("#{$label}");
			}
		}
		h3::after{
			@extend %search-label;
		}
	}
	.the-rest-section {
		margin-top: $line-height-px * 2;

		counter-reset: results-counter;

		@each $postType, $label in $postTypes {
			$last: str-slice($label, str-length($label));
			$pluralize: if($last != 's', s,  '');
			.type-#{$postType}:before {
				@include search-section-identify("#{$label}#{$pluralize}");
			}
			// We don't really have sections. This is a hack to have the section
			// only display before the first of each. Lordy.
			.type-#{$postType} + .type-#{$postType}:before {
				display: none;
			}


		}
		// label the 'Pages' section differently
		.type-page:before {
			@include search-section-identify("More Results");
		}
		// but not if it's the only type in "Additonal Content..."
		.search-section-label + .type-page:before {
			content: "";
		}
		> .grid-item:before {
			@extend %search-section-label;
		}
		h2 {
			margin-bottom: -10px;
		}

	}


	.search-hits-info {
		background-color: #fff;
		display: none;
		font-size: 11px;
		padding: 5px;
		position: absolute;
		bottom: -2em;
		width: 100%;
	}


}
.relevanssi-query-term, mark {
	background-color: $greenLighter;
	border-radius: 1px;
	color: #000000;
	padding: 0.2em;
}

//just for search so including here
#mainContent, .inner-sidebar {
    -ms-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    opacity: 1;
}
main {
    -ms-transition: background-color 1.5s ease-in-out;
    transition: background-color 1.5s ease-in-out;
}
span.searching {
    @include h1Styles;
    -ms-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    opacity: 0;
    top: 10%;
    display: block;
    position: fixed;
    text-align: center;
    width: inherit;
}

.search-submitted {
    #mainContent, .inner-sidebar {
        //opacity: 0.2;
    }
    main {
        //background-color: $greenLight;

        span.searching {
            top: 15%;
            opacity: 1;
        }
        .searching+.searching { display: none; }
    }

    #header .search-wrap #XXX input {
      background-color: #ffff00;
      bottom: 0;
      height: auto;
      max-height: none;
      position: fixed;
      top: 0;
      z-index: 44444;
    }
    .search-submit {
		position: relative;
		  span {
			  display: block;
		  }
    }




}
// END SEARCH

.crumbs {
	display: none; // still a WIP.
	padding-top: 1em;
}

/*only slider shows*/
.home.page {
	.main-content { display: none; }
}

@media only screen and (max-width: 768px) {
	.content.row { padding-top: 50px; }
}


@media only screen and (max-width: 600px) {
	.content.row { padding-top: 75px; }
	.wrap.container-fluid { margin-top: 18px;}
}

@media only screen and (max-width: 600px) and (max-height: 500px) {
    .content.row { padding-top: 25px; }
    .wrap.container-fluid { margin-top: 5px; }
    body { padding-top: 0;}
}
