// Temporary Grid
.ocs-strategy-species, .ecoregions, .parent-pageid-109 {
// pageid-109 = strategy species parent
	.listings-wrap > article > div,
	.listings-wrap > section > article { //not all are this way yet but orta be.
		float: left;
		margin: 0 15px 15px 0;
		min-height: 200px;
		width: 250px;

		&:nth-child(3n+1){
			clear: both;
		}
		&:hover {
		}

		a {
			color: $text-color;
			display: block;
			padding: 10px;
			&:hover {
				background-color: #eee;
				text-decoration: none;
			}
		}
	}
}

section.post-109,
section.post-112 {
	padding-top: 25px;
}

// Temporary. No style guide yet.
.success-story {
    background: #eeeeee;
    border: 1px solid #dddddd;
    padding: 5px 22px 22px;
}

@media screen and (max-width: 1375) {
	.parent-pageid-109 {

	}
}