@media print {

    body {
        padding-top: 0 !important;
    }

    .wrap.container-fluid {
        margin-left: 0; 
        float: none; 
        width: auto;
    }
    
    /* display hidden title within main content*/ 
    header.page-header > h1,
    header > .entry-title {
        display: block !important;
        position: inherit; 
        top: 0;
    } 

    aside.sidebar,
    header#header,
    span.compass-close,
    .view-external-compass,
    .ecoregion-svg > object {
        display: none;
    }

    /* display footer on the last page*/ 
    div.draft-message {
        position: inherit;
        bottom: 0;
    }

    a[href]:after {
        content: " (" attr(href) ")";
        font-size: 80%;
    }
    h1, h2, h3, h4, h5, h6, header, img, .listings-wrap>article>div { 
        page-break-after:avoid; 
        page-break-inside:avoid;
    }

    blockquote, pre { 
        page-break-inside:avoid;
    }

    ul, ol, dl, footer  { 
        page-break-before:avoid; 
    }

    .table, .tablepress {
        display: table;
        border-spacing: 2px;
        margin-bottom: 30px;

        tr.row { display: table-row; }

        tr.row > div {
            display: table-cell;
            border: solid 1px #ccc;
            padding: 2px;
        }
    }

    .main-content {
        padding-bottom: 15px !important;
    }

    .ecoregions { 
        img#region-png-print { display: block; }
    }

    .image-grid-container { 
        height: auto;
    } 


    .listings-wrap>section>article { 
        height: 300px;
        width: 325px;
    }

    body.ocs-strategy-species {
        .image-grid-container { 
            height: 155px;
            max-width: 244px; 
        }
    }
}