// Faux Columns
// @TODO: fix for smaller sizes

.sidebar {
	line-height: 1.2;
	padding: 0;

	> nav > ul {
		padding: 0;
		/* top level nav items */
		> li {
			position: relative;



			&.active > a, > a:hover {
				background-color: darken($greyDark, 10%);
				text-decoration: none;
			}

			> a {
				/*background: url(../images/icons-nav@2x.png) 0 -4px no-repeat;*/
				display: block;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0.02em;
				text-transform: uppercase;

				width: 100%;
			}


		}

		//
		// Main Site Left Nav
		//
		// generate sprite positions


		&.main-ocs-navigation {

			background-color: $greyDark;

			$nav-sprite: "../images/icons-nav@2x.png";
			@for $i from 0 through 9 {
				>li:nth-child(#{$i+1}) > a:before{
					background: url($nav-sprite) 0 $i*-62px no-repeat;
				}
				>li:nth-child(#{$i+1}) > a:hover:before,
				>li:nth-child(#{$i+1}).active > a:before,
				{
					background: url($nav-sprite) -62px $i*-62px no-repeat;
				}

			}
			> li {
				/* for vertical centering on the <a>s */
				display: table;
				min-height: 60px;
				width: 100%;
				> ul {
					display: none;
				}
				> a {
					/*background: url(../images/icons-nav@2x.png) 0 -4px no-repeat;*/
					color: #fff;
					display: table-cell;
					font-family: $headings-font-family;
					height: 60px;
					padding: 14px 14px 14px 60px;
					vertical-align: middle;
				}

				> a:before{
					content: " ";
					display: block;
					height: 62px;
					margin-left: -62px;
					position: absolute;
					top: -4px;
					width: 62px;
				}

			}


		}


		&.sub-page-navigation {

			background-color: $greyLighter;

			> li {
				/*margin: 3px -15px;*/

				> a {
					color: $greyDark;
					font-family: $headings-font-family-lighter;
					font-weight: normal;
					padding: 10px $sidebarPadding;
				}
				&.current_page_item > a, > a:hover {
					background-color: $grey;
					color: #fff;
					text-decoration: none;
				}
			}
			.children {
				display: none;
			}
			>.current_page_item .children {
				display: block;
			}
			.sub-menu a, .children a {
				color: $grey;
				display: block;
				font-family: $headings-font-family-lighter;
				min-height: auto;
				padding: 6px 8px 8px 24px;
				/*text-transform: none;*/
				font-size: 14px;
			}
			.active .sub-menu { display: table-row; }
		}

	}

	ul ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}



	.active a {
		background-color: $greyLight;
	}

	> .brand {
		background-color: $greenDark;
		display: block;
		height: 67px;
		width: 100%;
		//hide text
		font: 0/0 a;
		color: transparent;

		@include img-retina("../images/logo-odfw-with-text_sm.png", "/img/logo-odfw-with-text_sm@2x.png", 145px, 50px);
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}


}

.inner-sidebar {
	background-color: $greyLighter;

	h2 {
		padding-left: $sidebarPadding;
	}
}

